<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
  <% 18.times do %>
    <li>
      <span>Produto</span>
      <div>
        <img src="http://placehold.it/320x190">
      </div>
    </li>
  <% end %>
</ul>
