<div class="row">
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
    <li>
      Produto
      <img src="http://placehold.it/350x150">
    </li>
  </ul>
</div>
