@import "foundation/components/top-bar";

nav.top-bar{
  margin-bottom: 20px;
  i {
    padding-right: 1em;
  }
}

footer {
  background-color: $topbar-dropdown-bg;
  padding: 10px 0px;
  color: white;
}