html, body {
  height: 100%;
}
html {
  overflow-y: hidden;
}
body {
  overflow-y: scroll;
  background-color: #BCEEE4;
  background-image: asset-url('fundo.png');
  background-attachment: fixed;
  background-size: cover;
}

.stick-to-bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 0px;
  z-index: 100;
}

nav.top-bar{
  margin-bottom: 20px;
  i {
    padding-right: 1em;
  }
}

footer {
  background-color: $topbar-dropdown-bg;
  padding: 10px 0px;
  color: white;
}