<footer>
  <div class="row">
    <div class="small-4 columns">
      <div class="text-center">
        <p>Contactos</p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="text-center">
        <p>Como Funciona</p>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="text-center">
        <p>Mídia Social</p>
        <%= fa_icon 'google-plus' %>
        <%= fa_icon 'facebook' %>
        <%= fa_icon 'twitter' %>
        <%= fa_icon 'pinterest' %>
      </div>
    </div>
  </div>
</footer>