<footer>
  <div class="row">
    <div class="small-4 columns">
      <div class="text-center">
        Contactos
      </div>
    </div>
    <div class="small-4 columns">
      <div class="text-center">
        Como Funciona
      </div>
    </div>
    <div class="small-4 columns">
      <div class="text-center">
        Social Media
      </div>
    </div>
  </div>
</footer>