<footer class="row">
  <div class="small-4 columns">
    <div class="text-center">
      <a href="javascript:void(0)" class="button tiny radius success">Contactos</a>
    </div>
  </div>
  <div class="small-4 columns">
    <div class="text-center">
      <a href="javascript:void(0)" class="button tiny radius success">Como Funciona</a>
    </div>
  </div>
  <div class="small-4 columns">
    <div class="text-center">
      <a href="javascript:void(0)" class="button tiny radius success">Mídia Social</a>
      <div>
        <%= fa_icon 'google-plus' %>
        <%= fa_icon 'facebook' %>
        <%= fa_icon 'twitter' %>
        <%= fa_icon 'pinterest' %>
      </div>
    </div>
  </div>
</footer>