<div class="">
  <nav class="top-bar" data-topbar data-options="is_hover: false">
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon"><a href="">Menu</a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="#">Busca</a></li>
        <li class="divider"></li>
        <li><a href="#">Meu Carrinho</a></li>
        <li class="divider"></li>
        <li><a href="#">Departamento</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Configurações</a>
          <ul class="dropdown">
            <li><a href="#">Bla1</a></li>
            <li><a href="#">Bla2</a></li>
            <li><a href="#">Bla3</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>

