<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar data-options="is_hover:false;scrolltop:false;back_text:Voltar;">
    <ul class="title-area">
      <li class="name"></li>
      <li class="toggle-topbar menu-icon"><a href="javascript:void(0)">Menu</a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><a href="javascript:void(0)"><%= fa_icon 'search' %>Busca</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0)"><%= fa_icon 'shopping-cart' %>Meu Carrinho</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0)"><%= fa_icon 'th-large' %>Departamento</a></li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="javascript:void(0)"><%= fa_icon 'gears' %>Configurações</a>
          <ul class="dropdown">
            <li><a href="javascript:void(0)">Bla1</a></li>
            <li><a href="javascript:void(0)">Bla2</a></li>
            <li><a href="javascript:void(0)">Bla3</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>

